:root {
	/* fonts specs */
	--fn: "Chakra Petch", sans-serif;
	--fn-ttl-w: 600;
	--fn-pr-w: 500;
	/* Colors specs*/
	--bg-clr: #f4f7f5;
	--pri-clr: #08090a;
	--sec-clr: #e4e4e4;
	--fill-clr-1: #000000;
	--fill-clr-2: #ffffff;
}

html,
body {
	height: 100%;
	background-color: var(--bg-clr);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-style: inherit;
}

main {
	font-family: var(--fn);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.title {
	font-weight: var(--fn-ttl-w);
	font-size: 4rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cnt {
	display: flex;
	width: 34.5rem;
	height: 3rem;
}

.ind {
	font-size: 24px;
	font-weight: var(--fn-pr-w);
}

.cnt.left,
.cnt.right,
.btn {
	gap: 0.8rem;
	flex-basis: 1;
	margin: 0 1.2rem;
}

.cnt.left {
	position: relative;
}

.cnt.left input {
	width: 5rem;
	height: 2rem;
	font-family: var(--fn);
	font-weight: var(--fn-pr-w);
	font-size: 24px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	outline: none;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	text-align: center;
	border: 2px solid var(--pri-clr);
}

.dropdown .options {
	display: none;
	overflow: hidden;
	font-size: 18px;
	background: #fff;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	text-align: center;
}

.dropdown .options.active {
	display: block;
}

.dropdown .options div {
	cursor: pointer;
}

.dropdown .options div:hover {
	background-color: var(--sec-clr);
}

.cnt .fill {
	width: 2rem;
	height: 2rem;
	border: 2px solid var(--pri-clr);
	border-radius: 4px;
}

.fill.clr-1 {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	background-color: var(--fill-clr-1);
	cursor: pointer;
}

.fill.clr-2 {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	background-color: var(--fill-clr-2);
	cursor: pointer;
}

.btn {
	background-color: #e53a00;
	color: #f2f2f2;
	border: 2px solid var(--pri-clr);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	padding: 0 0.5rem;
	height: 2rem;
	cursor: pointer;
}

.square {
	background-color: var(--fill-clr-2);
	border: 1px solid var(--sec-clr);
}

.colorized {
	background-color: var(--fill-clr-1);
	border: 1px solid var(--fill-clr-1);
}

.grid-container {
	height: 575px;
	width: 575px;
	border: 4px solid var(--pri-clr);
	border-radius: 8px;
	display: grid;
	grid-template-columns: repeat(16, 2fr);
	grid-template-rows: repeat(16, 2fr);
}

.author {
	font-size: 24px;
}

.author a:link,
.author a:visited {
	color: var(--pri-clr);
}
